{% include "header2.html" %}
  {% block content %}

<style>
h4, footer {
	padding: 40px 0;
	text-align: center;
}

.container {
	margin-top: 64px;
	margin-bottom : 64px;
	padding : 0 64px;
	width: 640px;
	background-color: white;
}

.ok {
	color: #000;
	display: none;
}

.no , .noPwd , .emailChk{
	color: tomato;
	display: none;
}
</style>


<div class="container">
	<div class="input-form-backgroud row">
		<div class="input-form col-md-12 mx-auto">
			<h4 class="mb-3">회원가입</h4>
			<form class="validation-form" method="post" action="joinMember">
				{% csrf_token %}
				<div class="mb-3">
					<label for="mem_id">아이디</label>
						<input type="text" class="form-control" id="mem_id" name="mem_id">
				</div>
				<div id="target"></div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="mem_pw">비밀번호 </label> <input type="password"
							class="form-control" id="mem_pw" name="mem_pw" required>
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
						<span class="noPwd">비밀번호가 일치 하지 않습니다</span>
					</div>
					<div class="col-md-6 mb-3">
						<label for="pwdChk">비밀번호 확인</label> <input type="password"
							class="form-control" id="pwdChk" name="pwdChk">
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					</div>
				</div>
					<div class="mb-3">
						<label for="mem_name">이름</label> <input type="text"
							class="form-control" id="mem_name" name="mem_name"
							placeholder="김OO" required>
						<div class="invalid-feedback">이름을 입력해주세요.</div>
					</div>

					<div class="mb-3">
						<label for="mem_jubun">주민번호 </label> <input type="text"
							class="form-control" id="mem_jubun" name="mem_jubun"
							placeholder="000000-1234567" required>
						<div class="invalid-feedback">주민번호를 입력해주세요.</div>
					</div>

				<div class="mb-3">
					<label for="mem_phone">휴대폰번호</label>
					<input type="text"
						class="form-control"
						id="mem_phone"
						name="mem_phone"
						placeholder="010-0000-0000"
						required>
					<div class="invalid-feedback">휴대폰번호를 입력해주세요</div>
				</div>

				<div class="mb-3">
					<label for="mem_email">이메일</label> <input type="text"
						class="form-control" id="mem_email" name="mem_email"
						placeholder="you@example.com" required>
					<div class="invalid-feedback">이메일을 입력해주세요.</div>
				</div>
				<div id="target2"></div>

				<div class="mb-3">
					<label for="mem_adr">주소</label><br>
					<input type="text" id="sample6_postcode" placeholder="우편번호">
					<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
					<input type="text" class="form-control" id="mem_adr" name="mem_adr" placeholder="주소">
					<input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소">
					<input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목">
				</div>
				<!--
				<div class="mb-3">
                    <label for="mem_adr">주소</label>
                <select class="form-control" id="mem_adr" name="mem_adr">
                      <option>서울</option>
                      <option>경기</option>
                      <option>부산</option>
                      <option>대전</option>
                      <option>대구</option>
                </select>
                </div>

				<div class="col-md-6 mb-3">
					<label for="mem_adr2"> 상세주소 <span class="text-muted">&nbsp;(필수아님)</span>
					</label> <input type="text" class="form-control" id="mem_adr2" name="mem_adr2"
						placeholder="상세주소를 입력해주세요.">
				</div>
				-->
				<div class="row">
					<div class="col-md-8 mb-3">
						<label for="mem_q">비밀번호 찾기 질문</label>
						<select	class="selectpicker d-block w-100"
						id="mem_q"
						name="mem_q"
						data-style="btn-inverse">
							<option value="">질문을 선택하세요</option>
							<option value="추억">추억에 남는 장소는?</option>
							<option value="초등학교">다녔던 초등학교 이름은?</option>
						</select>
						<div class="invalid-feedback">질문을 선택해주세요.</div>
					</div>
					<div class="col-md-4 mb-3">
						<label>비밀번호 찾기 정답</label>
						<input type="text"
							class="form-control"
							id="mem_a"
							name="mem_a"
							placeholder=""
							required>
						<div class="invalid-feedback">답을 적어주세요</div>
					</div>
				</div>

				<hr class="mb-4">
				<div class="custom-control custom-checkbox text-center">
					<input type="checkbox" class="custom-control-input" id="aggrement"
						required> <label class="custom-control-label"
						for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
				</div>

				<div class="mb-4 text-center">
					<button class="btn btn-primary btn-dark text-white btn-block"
						type="submit">가입완료</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

	$(function(){
        $('#mem_id').focusout(function() {
             $.ajax({
                url:'idChk?mem_id='+$('#mem_id').val(),
                success:function(data){
                    console.log('data =>'+data);
                    if(data === '0'){
                      $('#target').html('사용 가능한 아이디입니다.');
                    }else{
                      $('#target').html('이미 사용 중인 아이디입니다.');
                    }
                }
             });
        });

		$('#mem_email').focusout(function() {
			$.ajax({
				url:'emailChk?mem_email='+$('#mem_email').val(),
				success:function(data) {
					console.log('data =>'+data);
					if(data === '0'){
                      $('#target2').html('사용 가능한 이메일입니다.');
                    }else{
                      $('#target2').html('이미 사용 중인 이메일입니다.');
                    }
				}
			});
		});

        $('#pwdChk').focusout(function() {
			var pwd1 = $('#pwdChk').val();
			var pwd2 = $('#mem_pw').val();
			if (pwd1 != pwd2) {
				$('.noPwd').css("display", "inline-block");
			}
		});

		$('#pwdChk').focusin(function() {
			$('.noPwd').css("display", "none");
		});
});

function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("mem_adr").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

  {% endblock content %}
{% include "footer.html" %}