<style>
  .itemlist{
    margin : 0 80px;
  }
  .text-muted{
    font-weight : bold;
    color : #000000 !important;
  }
  .sale{
    font-weight : normal;
    color : #ababab;
    text-decoration : line-through ;
  }
  a {
    text-decoration : none;
    color : #232323;
  }
  a:hover {
    color : #565656;
  }
  .blockquote{
    margin-top : 80px;
  }
</style>
<blockquote class="blockquote text-center">
  <p>메인 페이지 상품</p>
</blockquote>
</figure>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4 itemlist">
    <div class="col">
      <div class="card">
        <a href="#"><img src="//image.msscdn.net/images/goods_img/20200828/1568057/1568057_4_320.jpg" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">상품명(브랜드명)</h5>
          <a href="#"><p class="card-text">여기가 상품명 혹은 상품명 풀네임</p></a>
        </div>
         <div class="card-footer">
        <small class="text-muted price"><span class="sale">190,000원</span> 55,555원</small>
       </div>
      </div>
    </div>
   <div class="col">
      <div class="card">
         <a href="#"><img src="//image.msscdn.net/images/goods_img/20200828/1568057/1568057_4_320.jpg" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">상품명(브랜드명)</h5>
          <a href="#"><p class="card-text">여기가 상품명 혹은 상품명 풀네임</p></a>
        </div>
         <div class="card-footer">
        <small class="text-muted price"><span class="sale">190,000원</span> 55,555원</small>
       </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <a href="#"><img src="//image.msscdn.net/images/goods_img/20200828/1568057/1568057_4_320.jpg" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#"><p class="card-text">여기가 상품명 혹은 상품명 풀네임</p></a>
        </div>
         <div class="card-footer">
      <small class="text-muted">55,555원</small>
    </div>
      </div>
    </div>
     <div class="col">
      <div class="card">
         <a href="#"><img src="//image.msscdn.net/images/goods_img/20200828/1568057/1568057_4_320.jpg" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">상품제목(브랜드명)</h5>
          <a href="#"><p class="card-text">여기가 상품명 혹은 상품명 풀네임</p></a>
        </div>
        <div class="card-footer">
        <small class="text-muted price"><span class="sale">190,000원</span> 55,555원</small>
       </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="#"><img src="//image.msscdn.net/images/goods_img/20220407/2474571/2474571_1_320.jpg" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">상품제목(브랜드명)</h5>
          <a href="#"><p class="card-text">여기가 상품명 혹은 상품명 풀네임</p></a>
        </div>
        <div class="card-footer">
          <small class="text-muted price"><span class="sale">190,000원</span> 55,555원</small>
        </div>
      </div>
    </div>
  </div>
</div>