<div class="row">
  <div class="col-12">
    <nav class="container mt-3">
      <!-- justify-content-end, justify-content-center -->
      <ul class="pagination justify-content-center">
        {% comment %}
          이전 페이지 영역
        {% endcomment %}
        {% if result.has_previous %}
        <li class="page-item"><a href="?page=1&searchValue={{searchValue}}" class="page-link"><<</a></li>
        <li class="page-item"><a href="?page={{result.previous_page_number}}&searchValue={{searchValue}}" class="page-link">이전</a></li>
        {% else %}
        <li class="page-item disabled"><a href="#" class="page-link"><<</a></li>
        <li class="page-item disabled"><a href="#" class="page-link">이전</a></li>
        {% endif %}

        {% comment %}
          이전 페이지 영역 끝
        {% endcomment %}
      <!-- 페이지 반복 시작
      page_number : page_range에서 출력한 페이지 번호
      -->
        {% for page_number in result.paginator.page_range %}
        {% if page_start_number <= page_number and page_end_number >= page_number %}
          <!-- 현재 페이지 -->
          {% if page_number == result.number %}
          <li class="page-item active"><a href="#" class="page-link">{{page_number}}</a></li>
          {% else %}
          <li class="page-item"><a href="?page={{page_number}}&searchValue={{searchValue}}" class="page-link">{{page_number}}</a></li>
          {% endif %}
        {% endif %}
        {% endfor %}
      <!-- 페이지 반복 끝 -->
      <!-- next page -->
        {% if result.has_next %}
        <li class="page-item"><a href="?page={{result.next_page_number}}&searchValue={{searchValue}}" class="page-link">다음</a></li>
        <li class="page-item"><a href="?page={{last_page_num}}&searchValue={{searchValue}}" class="page-link">>></a></li>
        {% else %}
        <li class="page-item disabled"><a href="#" class="page-link">다음</a></li>
        <li class="page-item" disabled><a href="#" class="page-link">>></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>